body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  background: rgb(13, 68, 245);
  color: aliceblue;
  font-family: 'Vibrant-Display', sans-serif;
  font-weight: lighter;
}

.container {
  width: 100%;
}

label {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

input {
  margin: 10px;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}


input:focus {
  outline: none;
  border-color: #666;
}

button {
  margin: 10px;
  display: inline-block;
  padding: 13px 28px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #333;
  color: #333;
  background-color: #f1e61e;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #333;
  color: #fff;
}

h1{
  font-size: 70px;
}

.Registration {
  position: fixed;
  top: 10px;
  z-index: 1000;
}

.RegistrationButton {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}